include AUTHORS.md
include CONTRIBUTING.md
include HISTORY.md
include LICENSE
include README.md
include requirements*.txt

recursive-include examples *.py
recursive-include tests *.py
recursive-include docs *.rst *.py *.md Makefile make.bat *.txt
recursive-include conda-forge meta.yaml

recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
recursive-exclude * .DS_Store
